@font-face {
  font-family: "AmikoBold";
  src: url(./fonts/Amiko/Amiko-Bold.ttf);
}

@font-face {
  font-family: "AmikoRegular";
  src: url(./fonts/Amiko/Amiko-Regular.ttf);
}

@font-face {
  font-family: "AmikoSemiBold";
  src: url(./fonts/Amiko/Amiko-SemiBold.ttf);
}

@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url(./fonts/ArialRoundedMTBold/ARLRDBD.ttf);
}
